h1 {
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    font-size: 50pt;
    background-color: lightblue
    }

p{
    text-align: center;
    font-family: 'Poppins' , sans-serif;
    font-size: 50pt;
    background-color: lightblue
}   